.message {
    min-height: 95vh;
    background-color: #000;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__content {
        flex: 1;
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
        background: #000;
        
        @media (max-width: 768px) {
            border: none;
            border-radius: 0;
            margin: 0;
        }
    }
}