.layout-default {
    display: flex;
    background-color: #000;
    color: #fff;

    .main {
        flex-grow: 1;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 64px;
        font-size: small;
        
        &__nav-label {
            display: none;
        }
    }
}

/* Scrollbar styling cho các component */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}