.active-friends {
        display: flex;
        justify-content: center;
        position: fixed;
        right: 0;
    
        &__content {
            width: 100%;
            height: 620px;
            background-color: #fff;
            
        }

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 10px;
            box-shadow: 1px 0px 3px #aaa;
        }

        &__search {
            cursor: pointer;
            padding: 5px;
            border-radius: 10px;
            
            img {
                width: 20px;
                height: 20px;
            }

            &:hover {
                background-color: #eee;
            }
        }

        &__friends {
            overflow-y: auto; 
            max-height: 100vh; 
            box-shadow: 10px #aaa;
        }

        &__info {
            display: flex;
            gap: 10px;
            align-items: center;
            transition: 0.2s;
            cursor: pointer;
            padding: 0px 10px;
            margin-bottom: 5px;

            &:hover {
                background-color: #eee;
                font-weight: bold;
            }
        }

        &__img--icon {
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }
    }